##  Identifying and Removing Duplicates

///Objective: Clean a dataset by identifying and removing both exact and partial duplicates. //

In [1]:
import pandas as pd


///Load a Dataset://

In [10]:
data = {
    'name': ['John Doe', 'John Doe', 'Alice', 'ALICE ', 'Bob', 'Bob', 'Charlie', 'charlie'],
    'age': [25, 25, 30, 30, 22, 22, 28, 28],
    'city': ['NY', 'NY', 'LA', 'LA', 'TX', 'TX', 'NY', 'NY']
}
df=pd.DataFrame(data)
print("Original data is :\n",df)

Original data is :
        name  age city
0  John Doe   25   NY
1  John Doe   25   NY
2     Alice   30   LA
3    ALICE    30   LA
4       Bob   22   TX
5       Bob   22   TX
6   Charlie   28   NY
7   charlie   28   NY

//// Identify Exact Duplicates:

In [11]:
dupli=df.duplicated()  ##(case-sentitive)
print("Identify the duplicates:\n",dupli)
num_dupli=df.duplicated().sum()
print("Number of duplicates:\n",num_dupli)

Identify the duplicates:
 0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool
Number of duplicates:
 2

////Remove Exact Duplicates: //

In [14]:
rem_dupli=df.drop_duplicates(inplace=True)
print("After removing duplicates from the dataset:\n",df)

After removing duplicates from the dataset:
        name  age city
0  John Doe   25   NY
2     Alice   30   LA
3    ALICE    30   LA
4       Bob   22   TX
6   Charlie   28   NY
7   charlie   28   NY

////Handle Fuzzy Duplicates:///

In [15]:
df['name']=df['name'].str.lower().str.strip()
print("After cleaning fuzzy data:\n",df)

After cleaning fuzzy data:
        name  age city
0  john doe   25   NY
2     alice   30   LA
3     alice   30   LA
4       bob   22   TX
6   charlie   28   NY
7   charlie   28   NY

In [17]:
count=df.groupby('name').size().sort_values(ascending=False)
print("count the name using groupby function:\n",count)

count the name using groupby function:
 name
alice       2
charlie     2
bob         1
john doe    1
dtype: int64

///Final check://

In [18]:
final_dupli=df.drop_duplicates(inplace=True)
print("Data After removing fuzzy Duplicates:\n",df)
output=df.duplicated().sum()
print("\n Final Output is:\n",output)

Data After removing fuzzy Duplicates:
        name  age city
0  john doe   25   NY
2     alice   30   LA
4       bob   22   TX
6   charlie   28   NY

 Final Output is:
 0